body{
    background-color: rgb(175,238,238);
}

/* -----------start button---------------- */
#main-div{
    padding: 20px;
    max-width: 400px;
    margin: 0 auto;
    color:navy;
    font-weight: bolder;
    user-select: none;
    
}
#button{
    text-align: center;
}
#start-btn{
    font-family: 'Potta One';
    width: 35%;
    font-size: 1.5 em;
    border-radius: 12px;
    font-size: 24px;
    background-color: rgba(0, 0, 255, 0.349);

}
#titlehtml{
    font-size: 4em;
    font-family: 'Potta One';
    float: right;
    text-align: center;
  }

#questionDiv{
    text-align: center;
}

#question{
    font-size: 25px;
    font-family: 'Potta One';
    text-align: center;
}

/* -----------timer---------------- */

.time {
    float:right;
    text-align: top;
    color:navy;
    font-weight: bolder;
  }
#timer {
    font-size: 4em;
    font-family: 'Potta One', cursive;
  }

  #container {
    padding: 20px;
    max-width: 400px;
    margin: 0 auto;
    color:navy;
    font-weight: bolder;
    user-select: none;
}


